/*reset*/
ul, li{margin: 0; padding: 0;}


/*bootstrap*/
.nav-tabs>li.active>a{background-color: #f8f8f8 !important;}

/*module*/
.module-list{margin-right: -15px;}
.module-list li{float: left; width: 150px; height: 150px; background-color: #FFF; border: 1px solid #ccc; margin: 0 15px 15px 0; position: relative; list-style: none;}
.module-list li h4{font-size: 14px; text-align: center; line-height: 18px; padding: 0 10px; margin-top: 50px;}
.module-list li .opt{position: absolute; bottom: 8px; left: 0; padding: 0 10px; width: 150px;}
.module-list li .opt a{text-decoration: none; cursor: pointer;}
.module-list li .opt .glyphicon-edit{float: left;}
.module-list li .opt .glyphicon-trash{float: right;}
.module-list li .icon-move{position: absolute; left: 5px; top: 5px; display: none;}
.module-list li:hover .icon-move{display: block;}
.module-list .module-add{font-size: 40px; text-align: center; line-height: 150px; color: #666; cursor: pointer;}
.module-list .module-add:after{content: '添加模块'; position: absolute; bottom: 10px; left: 0; font-size: 12px; line-height: 12px; text-align: center; width: 100%;}
.module-list .module-add:hover, .module-list .module-add:hover:after{color: #2a6496;}

.container{position: relative;}
.form-module{padding: 0 15px;}
.form-module .form-con{margin: 0 20px; background-color: #f8f8f8; padding: 15px 25px; min-height: 570px;}
.form-module .btn-upload{position: relative; left: 30%; top: -30px;}
.form-module.type-txtimg .form-group{display: block;}
.form-module.type-txt .form-txt{display: block;}
.form-module.type-txt .form-img{display: none;}
.form-module.type-img .form-txt{display: none;}
.form-module.type-img .form-img{display: block;}

.form-module .control-group{text-align: center;}
.form-module .control-group .btn{margin: 0 10px;}
/*cover bootstrap*/
.form-horizontal .control-label{padding-left: 10px;}
.error-lable{display: none;}
.has-error .control-label{display: inline;}


/*upload-image*/
.form-img, .form-download{margin-left:-15px; margin-right: -15px;}
.form-img .add-files{float: left;}
.form-img .add-files .fileinput-button{display: block; margin-top: 10px;}
.form-img .files-list{display: inline-block; margin-left: 30px;}
.form-img .files-list .file-item{float: left; text-align: center; position: relative;}
.form-img .files-list .file-item .image-del{position: absolute; bottom: -25px; left: 50%; margin-left: -18px;}
.form-img .files-list .file-item img{width: 100px; height: 100px; border: 1px solid #ddd;}
.form-img .files-list .file-item p{margin: 0;}
.form-img .files-list .file-pic{cursor: default; position: relative; display: block;}
.form-img .files-list .file-pic canvas{border: 1px solid #ddd;}
.form-img .files-list .file-pic:after{content: ''; position: absolute; left: 0; top: 0; background: url(../../img/admin/loading.gif) no-repeat center center; width: 100px; height: 100px; background-color: rgba(255,255,255,.6); display: none;}
.form-img .files-list .file-pic.loading:after{display: block;}
.form-img .files-list .file-pic.active{cursor: pointer;}

/*upload-files*/
.upload-download{position: relative;}
.upload-download:after{content: ''; position: absolute; left: 110px; top: 8px; width: 16px; height: 16px; background: url(../../img/admin/loading.gif) no-repeat; opacity: 0; -webkit-transition:all .3s;}
.upload-download.loading:after{opacity: 1;}
.form-download label{margin-bottom: 15px;}
.form-download .download-con{display: inline-block; margin-left: 30px;}
.form-download .download-con span{color: #AEABA9; padding-left: 10px;}


/*sortable*/
body.dragging, body.dragging * {
  cursor: move !important;
}
.module-list li.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
 .module-list li.placeholder {
  position: relative;
  padding: 0;
}
 .module-list li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: red;
  border-right: none;
}













