/*sprite*/
.module-content .module-title .download-link i{background: url(../img/sprite.png) no-repeat;}


/*module-content*/
.module-content{padding: 15px 15px 0;}
.module-content .module-item{margin-bottom: 15px; clear: both;}
.module-content .module-title{padding-bottom: 15px;}
.module-content .module-title h4{font-size: 24px; float: left;}
.module-content .module-title .title-en{font-size: 14px; color: #AEABA9; padding-left: 10px;}
.module-content .module-title .download-con{float: left; margin: 13px 0 0 30px; color: #AEABA9;}
.module-content .module-title .download-link{color: #e53d40; margin-right: 5px;}
.module-content .module-title .download-link i{display: inline-block; width: 16px; height: 17px; background-position: -20px 0; position: relative; top: 2px; margin-right: 3px;}
.module-content .module-item .module-txt{padding: 0 20px 20px 0px; font-size: 16px; color: #666; line-height: 25px;}
.module-content .module-item .module-pic img{width: 100%;}


/*txtimg*/
.module-content .module-txtimg{}
.module-content .module-txtimg .module-txt{width: 42%; float: left;}
.module-content .module-txtimg .module-pic{width: 58%; float: left;}
/*img*/
.module-content .module-img{}