/*reset*/
body {font-family:"Microsoft YaHei","SimSun",arial,helvetica,clean,sans-serif; background-color: #F2F0EC;}
body,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,textarea,blockquote,th,td,img{margin:0;}
ul,li {padding:0; list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
select,input,button,textarea {font-family:"Microsoft YaHei","SimSun",arial,helvetica,clean,sans-serif; font-size:12px;}
a:hover{color:#CA1622; text-decoration: none;}
a,a:visited,a:hover,a:active,a:focus{-moz-outline:none;outline:none;}
img{border:0px; vertical-align: top;}
button {border:0 none; margin:0;}
em, i{font-style:normal;}
input{outline:none;}
input[type=button]::-moz-focus-inner{border:none;}
* {outline: none;}
:focus {outline: 0;}
img{vertical-align: top;}

/*main*/
textarea{color:#5f5f5f;}
.w1200{margin: 0 auto;}
.w1200{width: 1200px;}
.placeholder{color: #D2D2D2;}
*::-webkit-input-placeholder {color: #D2D2D2;}
*:-moz-placeholder {color: #D2D2D2;}
*:-ms-input-placeholder {color: #D2D2D2;}  /* IE10+ */

/*query-media*/
@media (min-width: 1400px){
  .container{width: 1400px;}
}
@media (min-width: 1600px){
  .container{width: 1600px;}
}



/*header*/
.container>.navbar-header{margin-right: 50px;}
.navbar-default{background-color: #FFF; border: none;}
.navbar{min-height: 80px; margin-bottom: 0; position: relative; z-index: 5;}
.navbar-brand{height: 80px;}
.navbar-nav>li>a{font-size: 18px; display: block; height: 80px; line-height: 80px; padding: 0 15px;}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{background-color: transparent; color: #e4393c;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color: #e4393c;}


/*subnav*/
.subnav{height: 215px; background-color: #FAF6F3; padding-top: 30px; text-align: center;}
.subnav ul{margin: 0 auto; display: inline-block; *display:inline; *zoom:1;}
.subnav li{float: left; width: 190px; text-align: center; margin: 0 25px;}
.subnav li a{color: #686261; display: block;}
.subnav li a:hover, .subnav li.active a{color: #E63736;}
.subnav li .icon_con{margin-bottom: 10px; height: 135px; overflow: hidden; display: block; position: relative;}
.subnav li .icon_con:after{content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 12px; background: url(../img/cateShadow.png) no-repeat; background-size: 100%; opacity: 0.7;}
.subnav li .icon{position: absolute; bottom: -20px; left: 0; right: 0; -webkit-transition:all .3s; opacity: 0.7;}
.subnav li.active .icon_con:after, .subnav li a:hover .icon_con:after{opacity: 1;}
.subnav li.active .icon, .subnav li a:hover .icon{bottom: 0;}
.subnav li.active .icon, .subnav li a:hover .icon{opacity: 1;}

/*icons*/
.icon{background: url(../img/cateSp.png) no-repeat; display: block; margin: 0 auto;}
.icon_iphone{width: 115px; height: 135px; overflow-y: hidden;}
.icon_ipad{ width: 188px; height: 87px; background-position: -125px 0;}
.icon_android{ width: 107px; height: 90px; background-position: -325px 0;}
.icon_designfiles{ width: 102px; height: 95px; background-position: -445px 0;}
.sideicon{background: url(../img/sprite.png) no-repeat; position: absolute;}
.sideicon_iphone{width: 14px; height: 24px; left: -10px;}


/*content*/
.panel{background-color: transparent; box-shadow: none;}

.left-bg{position: absolute; left: 0; top: 295px; background-color: #2A2323; width: 50%; height: 100%; z-index: 0;}
.main-content{background-color: #F2F0EC;}
.sidebar-offcanvas span.list-group-item:hover{color: #FFF;}
.sidebar-offcanvas .list-group-item h4{font-size: 24px; color: #FFF;}
.module-list{margin-left: 30px; line-height: 30px; display: none; font-size: 16px;}
.module-list a{color: #BDBDBD;}
.module-list a:hover, .module-list .active{color: #ff4548;}
.slide-list-item.active .module-list{display: block;}

/*list-item*/
.sidebar-offcanvas .list-group{padding-top: 20px; position: relative; top: 0;}
.sidebar-offcanvas .list-group-con{float: right; margin-right: 10px;}
.sidebar-offcanvas .list-group-item{background-color: transparent; border: none; color: #BDBDBD; font-size: 18px; position: relative;}
.sidebar-offcanvas .list-group-item:hover,
.sidebar-offcanvas .list-group-item.active,
.sidebar-offcanvas .list-group-item.active:hover{background-color: transparent; color: #ff4548;}
.sidebar-offcanvas .list-group-item:after{content: ''; position: absolute; right: -32px; top: 8px; width: 15px; height: 15px; background-color: #F2F0EC; -webkit-transform: rotate(45deg); display: none;}
.sidebar-offcanvas .list-group-item.active:after{display: block;}
/*footer*/




/*
 * 侧边栏切换样式支持
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}




